
<!DOCTYPE html>
<html lang = "en">

<head>
    <title> Oishi Great - Home </title>
    <link rel="stylesheet" href="css\user-address.css">
    <link rel="stylesheet" href="css\my-account.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://kit.fontawesome.com/e0c28b56a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <script type="text/javascript" src="script.js">  </script>
  
    {{> header}}
    
    <div>
        <div id="upperBox">   
            <div class="home-intro">
                <h1> Fresh Water Sales </h1>    
                <p>Oishi Great's Best products!</p>
            </div>
            <div class="home-intro" id="home-intro-image"><img src="/images/clearwater.png"></div>
        </div>
        
        <div id="secondBox">
            <div class="secondBoxText"> 
                <h1 class="second-intro">Main Products</h1>
            </div>

            <div class="secondBoxImages">
                <div class="image-container">
                    <div class="imageBox">
                        <img src="/images/5gal.png">
                        <p class="image-text">5 Gallons of Water</p>
                        <button class="button-30" role="button">Add to Cart</button>
                    </div>
                </div>
                <div class="image-container">
                    <div class="imageBox">
                        <img src="/images/1000ml.png">
                        <p class="image-text">1000ml Water Bottle</p>
                        <button class="button-30" role="button">Add to Cart</button>
                    </div>
                </div>
                <div class="image-container">
                    <div class="imageBox">
                        <img src="/images/500ml.png">
                        <p class="image-text">500ml Water Bottle</p>
                        <button class="button-30" role="button">Add to Cart</button>
                    </div>
                </div>
                <div class="image-container">
                    <div class="imageBox">
                        <img src="/images/350ml.png">
                        <p class="image-text">350ml Water Bottle</p>
                        <button class="button-30" role="button">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}


</body>

</html>
